{/*<div className="sec3__caja">
    <div className="sec3__box1">
        <h4>Sed ut perspiciatis</h4>
        <img className="sec3__divh4--img" src={IconUp} alt="Icono flecha arriba"/>
    </div>

    <div className="sec3__box2">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>

    <div className="sec3__box3">
        <h4>Ut enim ad minima veniam</h4>
        <img className="sec3__divh4--img" src={IconDown} alt="Icono flecha abajo"/>
    </div>
    
    <div className="sec3__box4">
        <h4>Sit amet, consectetur, adipisci</h4>
        <img className="sec3__divh4--img" src={IconDown} alt="Icono flecha abajo"/>
    </div>
</div>*/}