.sec2{
    @extend .section;
    background: linear-gradient(to right,#F2F4F1 80%  , #DCE1DA 20% );
    padding: 50px 200px;
}

.sec2__cont{
    background:url("../../assets/section3-image.png");
    background-repeat: no-repeat;
    padding-left: 495px;
    padding-top: 248px;
    max-width: 996px;
    height: 552px;
    position: absolute;

}
.car-prod{
    width: 471px;
    height: 304px;
    background-color: $primary;
    z-index: 1000;    
    .car-text{
        position: relative;
        left: 0%;
        right: 0%;
        text-align: left;
        padding-top: 68px;
        padding-left: 50px;
        padding-right: 63px;
        p{
            @include robotoRegular16;
            margin-top: 19.5px;
            margin-block-end: 0px;
            font-size: 1.2rem;
        }
        h3{
            font-family: 'Poppins', sans-serif;
            font-size: 2.5rem;
            letter-spacing: 0.55px;
            margin-block-start: 0px;
            margin-bottom: 0px;
        }
    }

}

.sec2__img{
    width: 966px;
    height: 552px;
    position: absolute;
}

.sec2__text--background{
    background-color: $colorPrimario;
    width: 471px;
    height: 304px;

    position: absolute;
}


.carousel-control-prev{
    margin-left: 282px;
}
.carousel-control-next-icon{
    background-image: url("../../assets/Icon\ feather-arrow-right-circle.svg");

}
.carousel-control-prev-icon{
    background-image: url("../../assets/Icon\ feather-arrow-left-circle.svg");
    
}

.car-prod{
    a{
        position: unset;
        align-items: end;
        display: inline-flex;
    }
}

