.sec2{
    @extend .section;
    background: linear-gradient(to right,#F2F4F1 80%  , #DCE1DA 20% );
    padding: 50px 200px;
}

.sec2__cont{
    background:url("../../assets/section3-image.png");
    background-repeat: no-repeat;
    padding-left: 495px;
    padding-top: 248px;
    max-width: 996px;
    height: 552px;
    position: absolute;

}
.car-prod{
    width: 471px;
    height: 304px;
    background-color: $primary;
    z-index: 1000;
    .carousel-control-prev{
        // background-image: url("../../assets/Icon\ feather-arrow-left-circle.svg");
        // background-repeat: no-repeat;
        
    }
    .car-text{
        p{
            @include robotoRegular16;
            margin-top: 19.5px;
            margin-block-end: 0px
        }
        h2{
            font-family: 'Poppins', sans-serif;
            font-size: 39px;
            letter-spacing: 0.55px;
            margin-block-start: 0px;
            margin-bottom: 0px;
        }
    }

}
a{

}
// .carousel{
//     width: 471px;
//     height: 304px;
//     background-color: $primary;
    
// }
/*.sec2__svg--rec{
    width: 398px;
    height: 100vh;
    background-color: #DCE1DA;
    margin-left: 968px;
    display: flex;
    position: absolute;

}*/

.sec2__img{
    width: 966px;
    height: 552px;
    //margin: 112px 200px 104px;
    position: absolute;
}

.sec2__text--background{
    background-color: $colorPrimario;
    width: 471px;
    height: 304px;
    //margin-top: 360px;
    //margin-left: 695px;
    position: absolute;
}
/*
.sec2__text{
    color: white;
    margin: 68px 49px 83.5px 50px;
    p{
        @include robotoRegular16;
        margin-top: 19.5px;
        margin-block-end: 0px
    }
    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 39px;
        letter-spacing: 0.55px;
        margin-block-start: 0px;
        margin-bottom: 0px;
    }
}

.sec2__iconos{
    padding-left: 321px;
    display: flex;
    justify-content: space-between;
}
*/
