
.section_hero{
    .carousel{
        img{
            @extend .section;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }
        .carousel-indicators {
            position: absolute;
            margin-left: 10.1rem;
            right: auto;
            bottom: 2rem;
            @include breakpoint("tablet"){
                margin-left: 5rem;
            }
            button{
                margin: 5px 5px;
                width: 1.2rem;
                height: 1.2rem;
                color: transparent;
                background-color: $colorSecundario;
                opacity: 0.4;
                border-radius: 5rem;
                border-top: none;
                border-bottom: none;
                &.active{
                    background-color: $colorPrimario;
                    opacity: 1;
                }
            }
        }
        .carousel-caption{
            left: 0;
            top: 33%;
            text-align: left;
            @include margin;
            @include breakpoint("tablet"){
                margin-left: 5rem;
                top: 25%;
            }
            h1{
                margin: 0;
                font-family: 'Poppins', sans-serif;
                //font-weight: $font-medium;
                font-size: 3.5rem;
                color:$colorSecundario;
                line-height: 3.8rem;
                margin-bottom: 3rem;
                @include breakpoint("mobile"){
                    font-size: 2.5rem;
                }
            }
            p{
                font-family: 'Roboto', sans-serif;
                color: $colorSecundario;
                //font-weight: $font-regular;
                font-size: 1.5rem;
                line-height: 1.5;
                margin-bottom: 2rem;
                @include breakpoint("mobile"){
                    font-size: 1rem;
                }
            }
            .btn{
                padding-top: 11px;
                padding-bottom: 11px;
                margin-top: 1rem;
                @include button;
                @include breakpoint("mobile"){
                    font-size: 1.4rem;
                }
            }
        }
    }
}

/*.section_1{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/slider-1.png");
    
    img{
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        margin-top: 191px;
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        line-height: 52px;
        color: white;
    }
    
    h4{
        font-family: 'Roboto', sans-serif;
        color: white;
        
    }
    
    button{
        background-color: $colorPrimario;
        border-radius: 25px;
        height: 48px;
        width: 144px;
        border-style: none;
        font-family: 'Roboto', sans-serif;
        margin-top: 7px;
    }
}*/