.footer{
    @extend .section;
    background-color: #343434;
    height: 96px;
    display: flex;
}

.footer p{
    color: #DCE1DA;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    letter-spacing: 0.22px;
    margin: 38px 1070px 37px 101px;
}

.footer a {
    display: flex;
    width: 86px;
    height: 20px;
    position: absolute;
    margin: 38px 101px 38px 1179px;
}